@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400;600;700&display=swap");
* {
  margin: 0px;
  padding: auto;
  font-family: "Work Sans", sans-serif;
}


body {
  background-color: #3c78a9;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

#header {
  display: flex;
  flex: 0 2 0;
  justify-content: space-between;
  background-color: #3c78a9;
  width: 100%;
  height: 120px;
  color: white;
}

#logo,
#solarPanelImg {
  height: 110px;
  padding-top: 5px;
}


#logo {
  padding-left: 5px;
}

#header > h1 {
  white-space: nowrap;
  padding-top: 40px;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 2px;
}

#header > h1:hover {
  text-shadow: 4px 4px 25px #ffc908, -4px -4px 25px #ffc908,
    2px 2px 25px #ffc908, -2px -2px 25px #ffc908;
}


#navBar {
  top: 0;
  height: 45px;
  width: 100%;
  background-color: #3c78a9;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

#btnContainer {
  text-align: right;
  padding-right: 5px;
}

.navBtn {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 26px;
}

.active {
  font-weight: 600;
  text-shadow: 2px 2px 25px #ffc908, -2px -2px 25px #ffc908;
}

#calculatorContainer,
#contactContainer,
#aboutUsContainer {
  display: none;
  position: relative;
  top: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  height: 700px;
  background: rgba(1, 1, 1, 0.5);
  border: 4px solid white;
}

#calculatorContainer > h2,
#contactContainer > h2,
#aboutUsContainer > h2 {
  color: white;
  text-align: center;
  padding-top: 3%;
  font-weight: 400;
}

#solarBackground {
  position: relative;
  width: 100%;
  height: 710px;
}

#logoBackground {
  position: relative;
  max-width: 100%;
  height: auto;
  width: auto;
  left: 50%;
  transform: translate(-50%, 5%);
}

#homeContent {
  position: relative;
}

#homeContent > h1 {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  color: white;
  font-weight: 700;
  font-size: 70px;
  text-align: center;
}

#aboutUsInfo > p {
  color: white;
  font-size: 19px;
}

#aboutUsInfo {
  padding-top: 5%;
  width: 90%;
  margin: auto;
}

.calculatorBtns {
  border-radius: 5px;
  border: none;
  color: white;
  background-color: black;
}

#calculatorContainer {
  position: relative;
  height: auto;
  width: 100%;
}

#calculatorBtnContainer {
  position: absolute;
  bottom: 10px;
  left: 43%;
}

.accordion-item {
  color: white;
  background-color: #3c78a9;
}

#calculateBtn {
  color: white;
  background-color: transparent;
  font-size: 20px;
  border-color: white;
  margin: 5px;
  margin-left: 45%;
}

#homeContent {
  position: relative;
}

h4 {
  font-weight: bold;
}

#generateYears{
  display: block;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid white;
  padding: 10px;
}